.weatherHeader .helperText{
    display: flex;
    justify-content: center;
}

.weatherHeader .inputStuff{
    display: flex;
    justify-content: center;
}

.weatherHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.weatherHeader .header{
    display: flex;
    justify-content: center;
}